<navigation></navigation>

<div class="container">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rock Salt">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Julee">
  <div class="row" >
     <div class="col-md-6"><br><br>
      <h1>Eureka!</h1><br><br>
      <form  class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ vm.user.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ vm.user.email }}</p>
        <div class="form-group" ng-repeat="idea in vm.user.ideas">
          <label class="col-sm-3 control-label">Idea Name</label>
          <p class="form-control-static">{{ idea.ideaName }}</p>
          <label class="col-sm-3 control-label">Idea Description</label>
          <p class="form-control-static">{{ idea.ideaDescription }}</p>
        </div>
      </form>
      <a onclick="logout()" href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <form action="/api/pushIdea" method="post">
        <div class="form-group">
          <label for="name">Idea Name</label>
          <input type="text" class="form-control" name="ideaName" placeholder="Enter Idea Name" ng-model="vm.idea.ideaName">
        </div>
        <div class="form-group">
          <label for="description">Idea Description</label>
          <input type="text" class="form-control" name="ideaDescription" placeholder="Enter Description" ng-model="vm.idea.ideaDescription">
        </div>
        <div class="form-group" ng-hide="true">
          <label for="description">User Signature</label>
          <input type="text" class="form-control" readonly name="userName" value="{{vm.user.email}}" placeholder="{{vm.user.email}}">
        </div>
        <button type="submit" class="btn btn-default">Add!</button>
      </form>

    <div>
      <p>{{ vm.idea.ideaName }} <-- idea</p>
      <p>{{ vm.idea.ideaDescription }} <-- description</p>
    </div>

    <script type="text/javascript">
      function logout() {
        this.$localStorage.$reset();
        console.log("reached this logout");
      }
    </script>
    <style>
        body {
          overflow: hidden;
          background-color: #FFBB00;
          font-family: 'Rock Salt';
        } 
        h1 {
          text-align: center;
          color: #000000;
          font-size: 80px;
        }
        #reg {
          text-decoration: none;
        }
        #regular {
          font-size: 35px;
          font-family:'Julee';
        }
        #signIn {
          width: 1100px;
          margin: 0 auto;
        }
      </style>
  </div>
</div>