<navigation></navigation>
<!--style type="text/css">
  *{
  margin:0;
  padding:0;
  }
  body{
    font-family:arial,sans-serif;
    font-size:100%;
    margin:3em;
    background:#666;
    color:#fff;
  }
  h2,p{
    font-size:100%;
    font-weight:normal;
  }
  ul,li{
    list-style:none;
  }
  ul{
    overflow:hidden;
    padding:3em;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
  }
  ul li{
    margin:1em;
    float:left;
  }
  ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }
  ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
  }
  ul li a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }
  ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  ol{text-align:center;}
  ol li{display:inline;padding-right:1em;}
  ol li a{color:#fff;}
</style-->

<div class="container">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rock Salt">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Julee">
  <div class="row" >
     <div class="col-md-6"><br><br>
      <h1>Eureka!</h1><br><br>
      <form  class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ vm.user.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ vm.user.email }}</p>
        <!--div class="form-group" ng-repeat="idea in vm.user.ideas">
          <label class="col-sm-3 control-label">Idea Name</label>
          <p class="form-control-static">{{ idea.ideaName }}</p>
          <label class="col-sm-3 control-label">Idea Description</label>
          <p class="form-control-static">{{ idea.ideaDescription }}</p>
        </div-->
      </form>
      <ul ng-repeat="idea in vm.user.ideas">
        <!--li>
          <a href="#">
            <h2>{{ idea.ideaName }}</h2>
            <p>{{ idea.ideaDescription }}</p>
        </li-->
        <label>Idea Name</label>
        <p>{{ idea.ideaName }}</p>
        <label>Idea Description</label>
        <p>{{ idea.ideaDescription }}</p>
      </ul>
    </div>
    <form action="/api/pushIdea" method="post">
        <div class="form-group">
          <label for="name">Idea Name</label>
          <input type="text" class="form-control" name="ideaName" placeholder="Enter Idea Name" ng-model="vm.idea.ideaName">
        </div>
        <div class="form-group">
          <label for="description">Idea Description</label>
          <textarea type="text" onkeyup="adjust_textarea(this)" class="form-control" name="ideaDescription" placeholder="Enter Description" ng-model="vm.idea.ideaDescription"></textarea>
        </div>
        <div class="form-group" ng-hide="true">
          <label for="description">User Signature</label>
          <input type="text" class="form-control" readonly name="userName" value="{{vm.user.email}}" placeholder="{{vm.user.email}}">
        </div>
        <button type="submit" class="btn btn-default">Add!</button>
      </form>

    <script type="text/javascript">
      function logout() {
        this.$localStorage.$reset();
        console.log("reached this logout");
      }

      function adjust_textarea(th) {
        th.style.height = "20px";
        th.style.height = (th.scrollHeight)+"px";
      }
    </script>
    <!--style>
        body {
          overflow: hidden;
          background-color: #FFBB00;
          font-family: 'Rock Salt';
        } 
        h1 {
          text-align: center;
          color: #000000;
          font-size: 80px;
        }
        #reg {
          text-decoration: none;
        }
        #regular {
          font-size: 35px;
          font-family:'Julee';
        }
        #signIn {
          width: 1100px;
          margin: 0 auto;
        }
      </style-->
  </div>
</div>